*{
    margin: 0;
    padding: 0;
}
body {
    height: 750px;
    width:auto;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    width: 420px;
    height: 545px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid black;
    border-radius: 18px;
    padding: 0px;
    box-shadow: 9px 9px 0px ;
}
.box .forim {
    display: flex;
    justify-content: center;
    padding: 18px;
    
}
.box .forim img {
    border-radius: 10px;
    width: 380px;
}
.box .forbut {
    padding: 9px 18px;
}

.box .forbut button {
    width: 94px;
    height: 30px;
    background-color: hsl(47, 88%, 63%);
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}
.box .fort {
    padding:  0 20px;
}
.box .fort p {
    font-weight: 500;
    padding: 4px 0;
}
.box .fort h2 {
    padding:14px 0;
}
.box .last  {
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
}
.box .last h5 {
    font-weight: 800;
}
.box .last img {
    width: 30px;
    padding: 0 19px;
    padding-right: 10px;
}