*{
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    font-family: "Inter", sans-serif;
    padding: 30px;
    background-color: rgba(254,253,249,255);
    display: flex;
    justify-content: center;
}
.box {
    width:  65pc;
}
.head {
    display: flex;
    justify-content: space-between;
}
.head ul {
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.head ul li {
    float: left;
    list-style-type: none;
    margin: 0 14px 30px ;
    font-size: 11px;
    color: hsl(236, 13%, 49%);
}
.head ul h1 {
    font-weight: 900;
    color: black;
    font-size: 40px; 
    margin-left: 80px;
}
.head ul a {
    text-decoration: none;
    color: hsl(236, 13%, 49%);
}
.head ul a:active {
    color: hsl(5, 85%, 63%);
}
.mid {
    display: flex;
    justify-content: center;
    gap: 23px;
}
.mid .mid1 img {
    width: 570px;
}
.mid .mid1 .mid11 {
    display: flex;
    gap: 80px;
    padding: 15px 0;
}
.mid .mid1 .mid11 h1 {
    font-weight: 800;
    font-size: 44px;
    line-height: 1;
}
.mid .mid1 .mid11 p{
    line-height: 1.8;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.562);
    font-weight: 500;
}
.mid .mid1 .mid11 button {
   width: 136px;
   height: 35px;
   letter-spacing: 3.6px;
   font-size: 10px;
   font-weight: 900;
   border: none;
   background-color: hsl(5, 85%, 63%);
   margin: 20px 0;
}
.mid .mid1 .mid11 button:active {
    background-color: black;
    color: white;
    cursor: pointer;
}
.mid .mid1 .mid11 button:hover {
    cursor: pointer;
}
.mid .mid2 {
    background-color: hsl(240, 100%, 5%);
    color: white;
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.mid .mid2 a {
    text-decoration: none;
    color: white
}
.mid .mid2 a:active {
    color:hsl(35, 77%, 62%);
}
.mid .mid2 h1 {
    padding: 20px 15px 10px;
    color: hsl(35, 77%, 62%);
}
.mid .mid2 h4 {
    padding: 15px 15px 6px;
}
.mid .mid2 p {
    padding: 0 15px;
    font-size: 11.4px;
    color:rgb(181,181,199);
    line-height: 1.6;
}
.mid .mid2 .line {
    background-color: rgba(181, 181, 199, 0.471);
    width: 229px;
    height: 0.1px;
    margin: 25px 16px 12px;
}
.last {
    display: flex;
    justify-content: center;
    gap:71px;
    margin-top: 20px;
    margin-right: 10px;
}
.last img {
    width: 70px;
    height: 90px;
    margin-right: -57px;
}
.last h2 {
    padding: 0px 1px;
    color:hsl(5, 85%, 63%) ;
}
.last h4 a {
    font-weight: 900;
    padding: 10px 1px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.last h4 a:active {
    color: hsl(5, 85%, 63%);
}
.last p {
    font-size: 11px;
    padding: 5px 1px;
    line-height: 1.5;
}
.last .last1 {
    display: flex;
    gap: 70px;
    margin-right: -10px;
}
.last .last3 {
    display: flex;
    gap: 70px;
    margin-left: -10px;
}
