*{
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    width: 295px;
    height: 500px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 10px 2px 35px 25px; color: hsl(218, 50%, 8%);
    
}
.card .forim {
    padding: 15px 18px;
}
.card .forim img {
    width: 260px;
    border-radius: 10px;
}
.card .fortxt  {
    display: flex;
    text-align: start;
    padding: 0 18px;
}
.card .fortxt h3 {
    color: white;
}
.card .forp {
    padding: 10px 18px;
    color: hsla(215, 52%, 70%, 0.718);
}
.card .bot {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 5px;
}
.card .bot .eth{
    color: hsl(178, 100%, 50%);
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.card .bot .clock {
    color: hsla(215, 52%, 70%, 0.718);
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.card .forline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.card  .forline .line {
    border: 1px solid hsla(215, 52%, 70%, 0.175);
    width: 256px;
}
.card .last  {
    display: flex;
    justify-content:start ;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}
.card .last img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.card .last p {
    color: hsla(215, 52%, 70%, 0.718);
    font-size: 14px;
}

.card .last p strong {
    color: white;
    font-weight: 400;
}
